@import "bootstrap-icons/font/bootstrap-icons.css";

* {
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
}

html,
body {
    background-color: rgb(36, 51, 51);
    width: 100%;
    height: 100%;
}

canvas {
    background: darkslategrey;
    margin: auto;
    display: block;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#my-jump-charging-bar {
    background: rgb(0, 0, 0);
    margin: auto;
    display: block;
    padding: 0px;
    position: absolute;
    top: 0px;
    bottom: 230px;
    left: 1050px;
    right: 0px;
}

.menu {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Arial', sans-serif;
    z-index: 999;
    width: 500px;
}

.menu-hidden {
    display: none;
}

.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

#levels-box {
    display: block;
    height: 15rem;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0.8rem;
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 15px;
    width: 100%;
}

.btn:hover {
    background-color: #1cdb34;
    transform: scale(1.03);
}

.btn-primary {
    background-color: #4CAF50;
    padding: 15px 32px;
    color: white;
    border: none;
}

#main-menu-backround {
    width: 100%;
    height: 100%;
    position: fixed;
}

.h1 {
    font-size: 3em;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: white;
}

.h3 {
    font-size: 2em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
